/* primary color */
$primary: #2495E7;
$secondary: #1B1717;
$white: #ffffff;

//color neutral
$darkBlue: hsl(234, 50%, 18%);
$grayishBlue: hsl(233, 8%, 42%);

/* font sizes */
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;

